*.iml
*.apk
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build
*/build
/captures
.externalNativeBuild
/.idea/
/gradle/wrapper/gradle-wrapper.properties
gradle/
gradlew
gradlew.bat
/RLibrary2
/RLibrary
/apk
/RTbs
/RJpush
/jpush
*.log
/RRealm

/httpserver
/RHttpServer
/ble
/umeng
/tbs
/uikit
/uikitex